<h1 class="text-center">{{ 'common.howDoYouWantToAddText' | translate }}</h1>

<div class="card-container">
  <div [ngClass]="{'card-active':!uploadFileMode, 'card-inactive': uploadFileMode}" (click)="chooseInputMode(false)" class="card card-small">
    <img class="card-icon" src="../assets/icons/text-icon.svg">

    <span>{{ 'common.enterTextOption' | translate }}</span>
  </div>

  <div [ngClass]="{'card-active':uploadFileMode, 'card-inactive': !uploadFileMode}" (click)="chooseInputMode(true)" class="card card-small">
    <img class="card-icon" src="../assets/icons/upload-icon.svg">

    <span>{{ 'common.uploadFileOption' | translate }}</span>
  </div>
</div>

<div [hidden]="showAssessmentResult">
  <div [hidden]="textIsProcessing">
    <file-upload-component [hidden]="!uploadFileMode" (onTextProcessing)="onTextProcessing($event)" (onProcessingComplete)="onProcessingComplete($event)"></file-upload-component>  
    <text-input-component [hidden]="uploadFileMode" (onTextProcessing)="onTextProcessing($event)" (onProcessingComplete)="onProcessingComplete($event)"></text-input-component>
  </div>

  <div [hidden]="!textIsProcessing" class="text-processing-container">
    <div class="text-processing-spinner">
      <mat-spinner [diameter]="200"></mat-spinner>
    </div>

    <h1 class="text-processing-description">{{ 'common.textIsProcessing' | translate }}</h1>
  </div>
</div>
<div [hidden]="!showAssessmentResult">
  <h1 class="text-center">{{ 'common.textAssessment' | translate}}</h1>
  <div class="assessment-result circle">{{textAssessmentResult.totalRating}}</div>

  <div class="assessment-details">
    <span>{{ 'common.textAssessmentDetails' | translate }}</span>
    <ul>
      <li>{{ 'common.averageSentenceLength' | translate:{value: textAssessmentResult.averageSentenceLength} }}</li>
      <li>{{ 'common.averageWordLength' | translate:{value: textAssessmentResult.averageWordLength} }}</li>
      <li>{{ 'common.commonWordsPercent' | translate:{value: textAssessmentResult.commonWordsPercent} }}</li>  
      <li>{{ 'common.fleschReadingEaseScale' | translate:{value: textAssessmentResult.fleschReadingEaseScale} }}</li>  
      <li>{{ 'common.textRepeatabilityPercent' | translate:{value: textAssessmentResult.textRepeatabilityPercent} }}</li>  
      <li>{{ 'common.perfectSentencesPercent' | translate:{value: textAssessmentResult.perfectSentencesPercent} }}</li>
      <li>{{ 'common.perfectContinuousSentencesPercent' | translate:{value: textAssessmentResult.perfectContinuousSentencesPercent} }}</li>
    </ul>
  </div>

  <button (click)="resetResult()" fxLayoutAlign="center" class="primary-btn" mat-raised-button>{{ 'common.tryAgain' | translate}}</button>
</div>