<h1 style="text-align: center;">{{ 'common.howDoYouWantToAddText' | translate }}</h1>

<div class="card-container">
  <div [ngClass]="{'card-active':!uploadFileMode, 'card-inactive': uploadFileMode}" (click)="uploadFileMode = false" class="card card-small">
      <img class="card-icon" src="../assets/icons/text-icon.svg">

    <span>{{ 'common.enterTextOption' | translate }}</span>
  </div>

  <div [ngClass]="{'card-active':uploadFileMode, 'card-inactive': !uploadFileMode}" (click)="uploadFileMode = true" class="card card-small">
    <img class="card-icon" src="../assets/icons/upload-icon.svg">

    <span>{{ 'common.uploadFileOption' | translate }}</span>
  </div>
</div>

<div [hidden]="textIsProcessing">
  <div [hidden]="!uploadFileMode">
    <mat-form-field [hidden]="uploadFileMode">
      <ngx-mat-file-input (change)="handleFileInput($event.target.files)" #fileUploadInput placeholder="{{ 'common.uploadFile' | translate }}" name="fileupload"></ngx-mat-file-input>
      <img *ngIf="fileUploadInput.empty" class="file-upload-icon folder" src="../assets/icons/folder-icon.svg">
      <img *ngIf="!fileUploadInput.empty" (click)="fileUploadInput.clear($event)" class="file-upload-icon cancel" src="../assets/icons/cancel-icon.svg">
    </mat-form-field>
  </div>
  
  <div [hidden]="uploadFileMode">
    <mat-form-field [hidden]="!uploadFileMode" appearance="outline">
      <mat-label>{{ 'common.enterYourText' | translate }}</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>

<div [hidden]="!textIsProcessing" class="text-processing-container">
  <div class="text-processing-spinner">
    <mat-spinner [diameter]="200"></mat-spinner>
  </div>
  
  <h1 class="text-processing-description">{{ 'common.textIsProcessing' | translate }}</h1>
</div>

<alert-warning-component *ngIf="alertWarningVisibility" [message]="errorMessage" (onHideAlert)="onHideAlert()"></alert-warning-component>