<mat-form-field>
    <ngx-mat-file-input (change)="handleFileInput($event.target.files, fileUploadInput)" #fileUploadInput placeholder="{{ 'common.uploadFile' | translate }}" name="fileupload"></ngx-mat-file-input>
    <img *ngIf="fileUploadInput.empty" class="file-upload-icon folder" src="../assets/icons/folder-icon.svg">
    <img *ngIf="!fileUploadInput.empty" (click)="clearFile($event)" class="file-upload-icon cancel" src="../assets/icons/cancel-icon.svg">
</mat-form-field>

<button (click)="uploadFile()" [disabled]="!fileToUpload" class="primary-btn" mat-raised-button>{{ 'common.processText' | translate}}</button>

<alert-component *ngIf="alertWarningVisibility" [message]="errorMessage" [alertType]="alertType" (onHideAlert)="onHideAlert()"></alert-component>