.file-upload-icon {
    position: absolute;
    cursor: pointer;
}

.file-upload-icon.folder {
    left: 970px;
}

.file-upload-icon.cancel {
    left: 980px;
    top: 20px;
}

.mat-form-field {
    min-width: 1000px;
    font-size: 20px;
}

.primary-btn {
    font-size: 16pt;
    width: 190px;
    height: 45px;
    left: 410px;
}