<div class="container">
    <h1 class="contacts-description">{{ 'contacts.contactUs' | translate }}</h1>

    <div class="logo">
        <a href="mailto:haintass@gmail.com">
            <img src="../../../assets/icons/mail-100px.png">
            {{ 'contacts.gmail' | translate }}
        </a>
    </div>        
    <div class="logo">
        <a href="https://github.com/haintass" target="_tab">
            <img src="../../../assets/icons/github-96px.png">
            {{ 'contacts.github' | translate }}
        </a>
    </div>
    <div class="logo">
        <a href="https://vk.com/naughtybrain" target="_tab">
            <img src="../../../assets/icons/vk-100px.png">
            {{ 'contacts.vk' | translate }}
        </a>
    </div>
</div>