.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover {
    opacity: 0.8;
}

.lang-dropdown {
    position: absolute;
    right: 20px;
    bottom: 3px;
    width: 50px;
    font-size: 11pt;
    text-align: center;
}

.nav-links a {
    margin-right: 15px;
    font-size: 13pt;
    font-weight: 400;
}